/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/10/2014, 19:21:25
    Author     : Leonardo
*/

body{
    background-color: #EBEBE0;
    color: #CCCCCC;
    text-align: center;
}

#imgUnlock{
    width: 100px;
}
#login{
    height: 30px;
    margin-top: 10px;
}

#senha{
    height: 30px;
    margin-top: 10px;
}

#entrar{
    width: 160px;
    height: 30px;
    margin-top: 30px;
}

